body {
	margin: 0;
	padding: 0;
	background-color: whitesmoke;
	font-family: "Roboto", sans-serif;
}

/*STYLE HEADER  */
 .header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px;
  background-color:darkblue;
} 
 .logo{
  width: 300px;
 
}
.logo > img {
	width: inherit;
	object-fit: contain;
	cursor: pointer;
}

#headersearchbar {
	width: 800px;
}
.marked {
	color: white;
	margin-right: 60px;
}

/* STYLE SECTION ONE */
.sectionone {
	/* background-color: red; */
	width: 90%;
	margin: auto;
}
.sectionone {
	display: grid;
	grid-template-columns: 1fr 50% 1fr;
	gap: 3rem;
}
.general {
	/* background-color: #fff; */
}

.general ul li {
	list-style: none;
	display: flex;
	align-items: center;
	margin-top: 20px;
	font-size: 20px;
	cursor: pointer;
	border: 1px solid grey;
	padding: 10px;
	border-radius: 5px;
}
.general > ul > li .material-symbols-rounded {
	margin-left: 20px;
}
.general > h2 {
	font-size: 30px;
}
.general > ul {
	/* font-size: ; */
	padding: 20px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
		rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.general ul li a {
	text-decoration: none;
	color: black;
}

.profile ul li {
	list-style: none;
}

.profile ul li a {
	text-decoration: none;
}
.welcome {
	text-align: center;
}
/* SECTION TWO */
.sectiontwo {
	display: flex;
	width: 95%;
	margin: 0 auto;
	margin-right: 60px;
	justify-content: space-evenly;
	gap: 100px;
	flex-direction: row;
}
.posts {
	flex-grow: 0.5;
}
.postbar {
	display: grid;
	background-color: lightblue;
	color: white;
}

.searchtabs {
	list-style: none;
	display: inline-flex;
	margin-right: 3px;
	justify-content: space-around;
}

/* STYLING USER POST */
.card {
	margin-top: 15px;
	position: relative;
	min-width: 500px;
	min-height: 400px;
	background-color: white;
	box-shadow: 15px 16px 60px #eae6e6;
	padding: 20px;
}

.card .top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.userDetailS {
	display: flex;
	align-items: center;
}

.card .top .userDetailS .profile_img {
	position: relative;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 8px;
}
.card .top .userDetailS h3 {
	font-size: 16px;
	font-weight: 500;
	line-height: 1rem;
}

.cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100;
	object-fit: cover;
}
.card .top .userDetailS h3 span {
	font-size: 0.75em;
}

.dot {
	transform: scale(0.6);
	cursor: pointer;
}

.imgBx {
	position: relative;
	width: 100;
	height: 320px;
	margin: 10px 0 15px;
}
.actionBtns {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.actionBtns img {
	max-width: 24px;
	cursor: pointer;
}

.actionBtns .left img {
	margin-right: 8px;
}
.likes {
	font-weight: 500;
	margin-top: 5px;
	color: grey;
	font-size: 16px;
}
.message {
	font-weight: 400;
	margin-top: 5px;
	color: grey;
	line-height: 1.5em;
}
.message b {
	color: #222;
}
.message span {
	color: blue;
	cursor: pointer;
}
.comments {
	margin-top: 10px;
	font-weight: 400;
	color: grey;
}
.addComments {
	display: flex;
	align-items: center;
	margin-top: 10px;
}
.addComments .userImg {
	position: relative;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 8px;
}
.text {
	width: 100%;
	border: none;
	outline: none;
	font-weight: 400;
	font-size: 16px;
	color: black;
	border: 1px solid #101e3a;
	border-radius: 5px;
	padding: 10px;
}
*/ .text::placeholder {
	color: black;
}
.postTime {
	margin-top: 10px;
	font-weight: 500;
	color: grey;
}

/* GRP SECTION */
.group {
	box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
		rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
	border-radius: 5px;
}
.groups {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 10px;
	border-radius: 5px;
}
.grp_img {
	position: relative;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 8px;
}

.groupDetailS h3 {
	font-size: 16px;
	font-weight: 500;
	line-height: 1rem;
	font-size: 20px;
}
.grpimg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100;
	object-fit: cover;
}
h3 span {
	font-size: 0.75em;
	color: grey;
}
.join {
	transform: scale(0.6);
	cursor: pointer;
	font-size: 25px;
	padding: 10px 20px;
	border-radius: 5px;
	background-color: #101e3a;
	color: #fff;
	border: none;
}
.join:hover {
	box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
		rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.groupDetailS {
	display: flex;
	align-items: center;
}

.timedetails {
	display: flex;
	width: 100%;
	/* height:25%; */
	gap: 5px;
	margin-bottom: 20px;
}
.time {
	border-right: 3px solid #2c2a2a;
}

.eventdetails {
	background-color: white;
	color: black;
	border-radius: 5px;
}
#welcome {
	color: #222;
}

/* My styling features */
.my-input {
	position: relative;
}
.my-input > input {
	font-size: large;
	padding: 10px 10px 10px 40px;
	border-radius: 10px;
	border: none;
}
.my-input > input:focus {
	border: 1px solid #eae6e6;
	color: red;
}
.my-input .material-symbols-outlined {
	position: absolute;
	left: 0;
	/* height: 40%; */
	margin-left: 15px;
	padding-top: 8px;
	font-size: 30px;
	color: #101e3a;
}
.fa-solid {
	font-size: 20px;
}
.fa-solid:hover {
	color: #f3510f;
}
.profile-img {
	height: 50px;
	width: 50px;
	cursor: pointer;
}
.profile-img > img {
	height: inherit;
	width: inherit;
	border-radius: 50%;
	object-fit: cover;
}
.headericons {
	display: flex;
	align-items: center;
}
.popular > h4 {
	font-size: 25px;
}

.feed {
	overflow-y: scroll;
	height: 100vh;
	/* margin-top: 30px; */
	padding-top: 5px;
}
.profile > ul {
	display: flex;
	justify-content: space-between;
}
.profile > ul > li > a {
	color: #fff;
	background-color: gray;
	padding: 10px;
	border-radius: 30px;
	text-decoration: none;
}
.searchtabs > li {
	color: #000;
	font-size: 20px;
}
.searchtabs > li > a {
	color: #000;
	text-decoration: none;
	font-weight: 600;
}
