form{
    display: flex;
    flex-direction: column;

}

input{
    padding: 12px 20px;
    margin: 8px 0px;
    margin-right: 60%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}