body {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-around;
  background-color: black;
  align-items: center;
  color: white;
}

.header > p {
  font-size: larger;
  font-weight: bolder;
}
.marked {
  color: white;
}
.sectionone {
  display: grid;
  grid-template-columns: 1fr 50% 1fr;
  gap: 4rem;
}

.postbar {
  display: grid;
}

.searchtabs {
  list-style: none;
  display: inline-flex;
  margin-right: 3px;
  justify-content: space-around;
}

.sectiontwo {
  display: grid;
  grid-template-columns: 1fr 50% 1fr;
  gap: 4rem;
}

.postbar {
  color: white;
  background-color: black;
  font-weight: bold;
}
.sectionthree {
  display: grid;
  grid-template-columns: 1fr 50% 1fr;
  gap: 4rem;
}

.event-container {
  font-family: "Roboto", sans-serif;
  margin-left: 15%;
}
 .event-container h3.year {
  font-size: 40px;
  text-align: center;
  border-bottom: 1px solid #b1b1b1;
}

.event-container .event {
  box-shadow: 0 4px 16px -8px rgba(0, 0, 0, 0.4);
  display: flex;
  border-radius: 8px;
  margin: 32px 0;
}

.event .event-left {
  background: #222;
  min-width: 82px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eee;
  padding: 8px 48px;
  font-weight: bold;
  text-align: center;
  border-radius: 8px 0 0 8px;
}

.event .event-left .date {
}

.event .event-left .month {
  font-size: 16px;
  font-weight: normal;
}

.event .event-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 24px;
}

.event .event-right h3.event-title {
  font-size: 24px;
  margin: 24px 0 10px 0;
  color: #218bbb;
  text-transform: uppercase;
}

.event .event-right .event-timing {
  background: #fff8ba;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  padding: 8px;
  border-radius: 16px;
  margin: 24px 0;
  font-size: 14px;
}

.event .event-right .event-timing img {
  height: 20px;
  padding-right: 8px;
}

@media (max-width: 550px) {
  .event {
    flex-direction: column;
  }

  .event .event-left {
    padding: 0;
    border-radius: 8px 8px 0 0;
  }

  .event .event-left .event-date .date,
  .event .event-left .event-date .month {
    display: inline-block;
    font-size: 24px;
  }

  .event .event-left .event-date {
    padding: 10px 0;
  } */
}
